{% extends 'html/templates/default.html' %}

{% block title %}Identity{% endblock %}

{% block content %}
  <section id="landing-wrapper">
    <section id="digital-footprint">
      <div id="digital-footprint-wrapper">
        <div class="loader">
          <div class="flipper">
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <div class="js-body view-content"></div>
{% endblock %}

{% block scripts %}

{% endblock %}